.about {
  z-index: 3;
}
.about-section {
  p {
    text-align: left;
    line-height: 2em;
    letter-spacing: 1.4px;
  }
  @media all and (max-width: $screen-xs) {
    .section-title {
      margin-top: 2em;
    }
  }

  .parallax__layer--fore {
    width: 100vw;
    right: 0;
    top: 9em;
    left: initial;

    @media all and (min-width: $screen-sm) {
      width: 42vw;
      right: 7em;
      top: 9em;
      left: initial;
    }
    @media all and (min-width: $screen-md) {
      width: 43vw;
      right: 8em;
      top: 9em;
      left: initial;
    }
    @media all and (min-width: $screen-lg) {
      width: 45vw;
      right: 9em;
      top: 9em;
      left: initial;
    }
  }
  .parallax__layer--perp {
    background-color: rgba($brand-primary, 0.9);
    left: 0;
    width: 100vw;
    right: initial;

    .content {
      top: 30%;
      width: 80%;
      text-align: left;

      ul {
        list-style: none;
        padding-left: 0;
        line-height: 1.8em;
      }
    }

    @media all and (min-width: $screen-sm) {
      background-color: transparent;
      left: 4em;
      width: 65vw;
      right: initial;
      .content {
        width: 70%;
      }
    }
    @media all and (min-width: $screen-md) {
      left: 10em;
      width: 55vw;
      right: initial;
    }
    @media all and (min-width: $screen-lg) {
      left: 12em;
      width: 55vw;
      right: initial;
    }
  }
  .image {
    text-align: center;
  }
  img {
    width: 70%;
    border-radius: 100%;
  }
}
