@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,800');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
#home {
  z-index: 5;
  .parallax__layer--base {
    background: rgb(255, 255, 255);
  }
  .shock-value {
    color: $brand-shock-color;
    margin-right: 5px;
  }
  .light-text {
    font-weight: $light;
    display: block;
    color: rgba(0, 0, 0, 0.2);
  }
}

.section-title {
  font-size: 2em;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 2px 0px $banner-red, 6px 4px 0 $banner-turquoise;
  @media all and (min-width: $screen-md) {
    font-size: 4em;
  }
}
// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
