.contact {
  z-index: 5;
  background-color: $banner-red;
}
.contact-form-wrapper {
  text-align: center;
  a.icons {
    margin-right: 2em;
    img {
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.3);
        cursor: pointer;
      }
    }
  }

  .section-title {
    font-size: 3em;
  }
  @media all and (min-width: $screen-sm) {
    margin: 3.6em auto;
  }
}
//add background-color to projects on mobile below iphone 6
//fix links on images from overflowing below iphone 6
//todo: change margin:3em for mobile
.contact-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap row;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  @media all and (max-width: $screen-xs) {
    margin-top: 3em;
  }
  @media all and (min-width: $screen-sm) {
    margin: 3em auto;
  }
  .group {
    flex-basis: 100%;
    input {
      background-color: $brand-primary;
      color: $brand-secondary;
      height: 50px;
      width: 80%;
      margin-bottom: 2em;
      border: none;
      border-radius: 5px;
      padding: 15px;
      outline: none;
      text-align: center;
      font-size: 1.2em;
      @media all and (max-width: $screen-xs) {
        padding: 0;
      }
      @media all and (min-width: $screen-md) {
        width: 50%;
      }
    }
    .textarea-item {
      background-color: $brand-primary;
      height: 150px;
      color: $brand-secondary;
      width: 80%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      outline: none;
      text-align: center;
      font-size: 1.2em;
      @media all and (max-width: $screen-xs) {
        padding: 0;
      }
      @media all and (min-width: $screen-md) {
        width: 50%;
      }
    }
  }
}
button.submit-button {
  width: 250px;
  padding: 15px;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  margin-top: 2em;
  background-color: $banner-turquoise;
  color: $banner-red;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    transform: scale(1.3);
    cursor: pointer;
  }
}
