.projects {
  z-index: 4;
  a.mobile-links {
    font-weight: 800;
    margin-bottom: 1em;
  }
  .content {
    text-align: left;
    color: #fff;
    width: 80%;
    a {
      text-decoration: none;
    }

    .title {
      font-size: 2em;
      font-weight: 200;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

      @media all and (min-width: $screen-sm) {
        font-size: 3em;
      }
    }
  }
  .links {
    display: flex;
    flex-flow: column wrap;

    a.links {
      flex-basis: 30%;
      text-align: center;
      text-decoration: none;
      padding: 15px;
      margin-top: 1em;
      display: block;
      border-radius: 5px;
      width: 200px;
      transition: all 0.5s ease-in-out;
      background-color: $banner-turquoise;

      &:hover {
        background-color: $banner-red;
        color: $banner-turquoise;
        border: 1px solid $banner-red;
      }
      @media all and (min-width: $screen-sm) {
        background-color: $brand-secondary;
        color: #fff;
        &:hover {
          background-color: $banner-turquoise;
          color: $banner-red;
          border: 1px solid $banner-red;
        }
      }
    }
  }

  .parallax__group:nth-of-type(odd) {
    .links {
      display: none;
    }
    .parallax__layer.parallax__layer--fore {
      background: rgba(0, 0, 0, 0.5);
      width: 100vw;
      color: #fff;
      .mobile-links {
        display: block;
      }

      @media all and (min-width: $screen-sm) {
        left: 0;
        .mobile-links {
          display: none;
        }
      }
      @media all and (min-width: $screen-md) {
        width: 46vw;
        left: 6em;
      }
      @media all and (min-width: $screen-lg) {
        left: 8em;
      }
    }
    .parallax__layer--perp {
      position: absolute;
      width: 100vw;
      top: 3em;
      img {
        display: none;
      }

      @media all and (max-width: $screen-xs) {
        top: -7em;
      }
      @media all and (min-width: $screen-sm) {
        top: -12em;
        img:nth-of-type(1) {
          display: block;
          margin-bottom: 0.4em;
        }
        .links {
          display: inline-flex;
          align-items: flex-start;
        }
      }
      @media all and (min-width: $screen-md) {
        padding: 2em;
        top: 3em;
        bottom: 3em;
        right: 10em;
        width: 42vw;
        text-align: left;
        img:nth-of-type(2) {
          display: block;
        }
      }
      @media all and (min-width: $screen-xl) {
        padding: 2em;
        top: 3em;
        bottom: 3em;
        right: 13em;
        width: 44vw;
        text-align: left;
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: 0.4em;
      }
    }
    .parallax__layer--base {
      background: transparent;
    }
  }
  .parallax__group:nth-of-type(even) {
    .links {
      display: none;
    }
    .parallax__layer.parallax__layer--fore {
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.6);
      .mobile-links {
        display: block;
      }
      @media all and (min-width: $screen-sm) {
        .mobile-links {
          display: none;
        }
      }
      @media all and (min-width: $screen-md) {
        top: 0;
        bottom: 0;
        left: initial;
        right: 6em;
        width: 45vw;
      }
      @media all and (min-width: $screen-lg) {
        top: 0;
        bottom: 0;
        left: initial;
        right: 8em;
        width: 46vw;
      }
      @media all and (min-width: $screen-xl) {
        right: 9em;
      }
    }
    .parallax__layer--perp {
      position: absolute;
      width: 100vw;
      img {
        display: none;
      }
      @media all and (max-width: $screen-xs) {
        top: -7em;
      }
      @media all and (min-width: $screen-sm) {
        top: -12em;
        img:nth-of-type(1) {
          display: block;
          margin-bottom: 0.4em;
        }
        .links {
          display: inline-flex;
          align-items: flex-end;
        }
      }
      @media all and (min-width: $screen-md) {
        padding: 2em;
        width: 43vw;
        top: 3em;
        bottom: 3em;
        left: 10em;
        text-align: right;
        img:nth-of-type(2) {
          display: block;
          margin-bottom: 0.4em;
        }
      }
      @media all and (min-width: $screen-lg) {
        width: 43vw;
        left: 11em;
      }
      @media all and (min-width: $screen-xl) {
        width: 43vw;
        left: 14em;
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 0.4em;
      }
    }
    .parallax__layer--base {
      background: transparent;
    }
  }
}
