.description {
  z-index: 3;
  .parallax__layer--base {
    background: transparent;
  }
}

.landscape-mode {
  display: none;
}
.skills-section {
  .content {
    width: 100%;
  }
}
//landscape media queries
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .landscape-mode {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('http://images.mentalfloss.com/sites/default/files/dazedandconfused.jpg?resize=1100x740')
      no-repeat center center;
    background-size: cover;
    h3 {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 15px;
    }
  }
  .parallax {
    display: none;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .landscape-mode {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('http://images.mentalfloss.com/sites/default/files/dazedandconfused.jpg?resize=1100x740')
      no-repeat center center;
    background-size: cover;
    h3 {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 15px;
    }
  }
  .parallax {
    display: none;
  }
}

//iphone 5 media query
@media screen and (max-width: $screen-xs) {
  .projects .parallax__group {
    img {
      display: none;
    }
    background-color: rgba($brand-secondary, 0.8);

    &:nth-of-type(odd) .parallax__layer.parallax__layer--fore,
    &:nth-of-type(even) .parallax__layer.parallax__layer--fore {
      background-color: transparent;
    }
  }
}
