/*colors*/
$brand-primary: #fff;
$brand-shock-color: #e3170a;
$banner-turquoise: #afeeee;
$banner-red: #ff6961;
$brand-secondary: #2e2f2f;
/*diagonal divs*/

/*break points*/
$screen-xs: 414px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1240px;
$screen-xl: 1440px;

/* font weights*/
$light: 200;
$regular: 600;
$bold: 800;

/*flex-basis*/
$flex-third: 30%;
$flex-half: 50%;
$flex-full: 100%;

@mixin flex($justify_c: center, $align_i: center, $wrap: wrap, $row: row) {
  display: flex;
  justify-content: $justify_c;
  align-items: $align_i;
  flex-flow: $wrap $row;
}

@mixin flex-basis($flex_b) {
  flex-basis: $flex_b;
}
