/*colors*/
/*diagonal divs*/
/*break points*/
/* font weights*/
/*flex-basis*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,800");
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #ff6961;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 1s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #2e2f2f;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 1000; }

#nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #2e2f2f;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2) {
  top: 11px; }

#nav-icon span:nth-child(3) {
  top: 22px; }

#nav-icon.inner-nav span,
#nav-icon.outer-nav.open span {
  background-color: transparent; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

body {
  margin: 0; }

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  -webkit-perspective: 300px; }

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.parallax__layer--base {
  transform: translateZ(0);
  z-index: 4; }

.parallax__layer--back {
  transform: translateZ(-300px) scale(2) skewY(150deg); }

.parallax__layer--fore {
  transform: translateZ(90px) scale(0.7);
  z-index: 1; }

.parallax__layer--perp {
  transform: translateZ(160px) scale(0.5);
  z-index: 1; }

.parallax__layer--deep {
  transform: translateZ(-600px) scale(3) skewY(-150deg);
  z-index: 2; }

.content,
.quote {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.skewUp-banner {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .skewUp-banner .parallax__layer--back {
    background: #ff6961; }
    .skewUp-banner .parallax__layer--back .content {
      color: rgba(0, 0, 0, 0.2);
      transform: skewY(-150deg);
      font-size: 3em;
      left: 0;
      width: 100%; }

.skewDown-banner {
  z-index: 2;
  display: flex;
  justify-content: center; }
  .skewDown-banner .parallax__layer--deep {
    background: #afeeee; }
    .skewDown-banner .parallax__layer--deep .quote {
      color: rgba(0, 0, 0, 0.2);
      transform: skewY(150deg);
      font-size: 3em;
      left: 0;
      width: 100%; }
  .skewDown-banner .parallax__layer--back {
    transform: translateZ(-300px) scale(2) skewY(0); }
  .skewDown-banner .parallax__layer {
    flex-basis: 30%; }

.spacer {
  z-index: 3; }
  .spacer .parallax__layer--base {
    background: transparent; }

.projects {
  z-index: 4; }
  .projects .content {
    text-align: left;
    color: #fff;
    width: 80%; }
    .projects .content a {
      text-decoration: none; }
    .projects .content .title {
      font-size: 2em;
      font-weight: 200;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none; }
      @media all and (min-width: 768px) {
        .projects .content .title {
          font-size: 3em; } }
  .projects .links {
    display: flex;
    flex-flow: column wrap; }
    .projects .links a.links {
      flex-basis: 30%;
      text-align: center;
      background-color: #2e2f2f;
      color: #fff;
      text-decoration: none;
      padding: 15px;
      margin-top: 1em;
      display: block;
      border-radius: 5px;
      width: 200px;
      transition: all 0.5s ease-in-out; }
      .projects .links a.links:hover {
        background-color: #afeeee;
        color: #ff6961; }
  .projects .parallax__group:nth-of-type(odd) .links {
    align-items: flex-start; }
  .projects .parallax__group:nth-of-type(odd) .parallax__layer.parallax__layer--fore {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    color: #fff; }
    @media all and (min-width: 768px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer.parallax__layer--fore {
        left: 0; } }
    @media all and (min-width: 1024px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer.parallax__layer--fore {
        width: 46vw;
        left: 6em; } }
    @media all and (min-width: 1240px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer.parallax__layer--fore {
        left: 8em; } }
  .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp {
    position: absolute;
    width: 100vw;
    top: 3em; }
    .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp img:nth-of-type(2) {
      display: none; }
    @media all and (min-width: 375px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp {
        top: -7em; } }
    @media all and (min-width: 768px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp {
        top: -12em; } }
    @media all and (min-width: 1024px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp {
        padding: 2em;
        top: 3em;
        bottom: 3em;
        right: 10em;
        width: 42vw;
        text-align: left; }
        .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp img:nth-of-type(2) {
          display: block; } }
    @media all and (min-width: 1240px) {
      .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp {
        padding: 2em;
        top: 3em;
        bottom: 3em;
        right: 11em;
        width: 44vw;
        text-align: left; } }
    .projects .parallax__group:nth-of-type(odd) .parallax__layer--perp img {
      width: 100%;
      height: auto; }
  .projects .parallax__group:nth-of-type(odd) .parallax__layer--base {
    background: transparent; }
  .projects .parallax__group:nth-of-type(even) .links {
    align-items: flex-end; }
  .projects .parallax__group:nth-of-type(even) .parallax__layer.parallax__layer--fore {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6); }
    @media all and (min-width: 1024px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer.parallax__layer--fore {
        top: 0;
        bottom: 0;
        left: initial;
        right: 6em;
        width: 45vw; } }
    @media all and (min-width: 1240px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer.parallax__layer--fore {
        top: 0;
        bottom: 0;
        left: initial;
        right: 8em;
        width: 46vw; } }
  .projects .parallax__group:nth-of-type(even) .parallax__layer--perp {
    position: absolute;
    width: 100vw; }
    .projects .parallax__group:nth-of-type(even) .parallax__layer--perp img:nth-of-type(2) {
      display: none; }
    @media all and (min-width: 375px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer--perp {
        top: -7em; } }
    @media all and (min-width: 768px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer--perp {
        top: -12em; } }
    @media all and (min-width: 1024px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer--perp {
        padding: 2em;
        width: 43vw;
        top: 3em;
        bottom: 3em;
        left: 10em;
        text-align: right; }
        .projects .parallax__group:nth-of-type(even) .parallax__layer--perp img:nth-of-type(2) {
          display: block; } }
    @media all and (min-width: 1240px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer--perp {
        width: 43vw;
        left: 11em; } }
    @media all and (min-width: 1440px) {
      .projects .parallax__group:nth-of-type(even) .parallax__layer--perp {
        width: 43vw;
        left: 13em; } }
    .projects .parallax__group:nth-of-type(even) .parallax__layer--perp img {
      width: 100%;
      height: auto; }
  .projects .parallax__group:nth-of-type(even) .parallax__layer--base {
    background: transparent; }

#skills {
  width: inherit;
  position: relative;
  float: left;
  padding: 30px 0; }
  #skills .parallax__layer.parallax__layer--perp {
    width: 90vw;
    top: -4em;
    left: 0; }
    @media all and (min-width: 768px) {
      #skills .parallax__layer.parallax__layer--perp {
        width: 50vw;
        top: 5em;
        left: em; } }
  #skills ul {
    padding-top: 50px;
    list-style: none; }
    #skills ul > li {
      margin-bottom: 70px;
      height: 15px;
      border-radius: 3px; }
      #skills ul > li em {
        font-family: 'Exo', sans-serif;
        font-size: 18px;
        position: relative;
        top: -30px; }
      #skills ul > li span {
        height: 10px;
        margin: 2px 0;
        background: #afeeee;
        position: absolute;
        border-radius: 5px; }
  #skills .html5 {
    width: 100%;
    animation: html5 2s ease-out; }
  #skills .css3 {
    width: 100%;
    animation: css3 2s ease-out; }
  #skills .javascript {
    width: 80%;
    animation: javascript 2s ease-out; }
  #skills .react {
    width: 70%;
    animation: react 2s ease-out; }
  #skills .node {
    width: 60%;
    animation: node 2s ease-out; }
  #skills .express {
    width: 50%;
    animation: express 2s ease-out; }
  #skills .mongo {
    width: 50%;
    animation: mongo 2s ease-out; }
  #skills .vim {
    width: 70%;
    animation: vim 2s ease-out; }

@keyframes html5 {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }

@keyframes css3 {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }

@keyframes javascript {
  0% {
    width: 0px; }
  100% {
    width: 80%; } }

@keyframes react {
  0% {
    width: 0px; }
  100% {
    width: 70%; } }

@keyframes node {
  0% {
    width: 0px; }
  100% {
    width: 60%; } }

@keyframes express {
  0% {
    width: 0px; }
  100% {
    width: 50%; } }

@keyframes mongo {
  0% {
    width: 0px; }
  100% {
    width: 50%; } }

@keyframes vim {
  0% {
    width: 0px; }
  100% {
    width: 70%; } }

.about {
  z-index: 3; }

.about-section p {
  text-align: left;
  line-height: 2em;
  letter-spacing: 1.4px; }

.about-section .parallax__layer--fore {
  width: 100vw;
  right: 0;
  top: 9em;
  left: initial; }
  @media all and (min-width: 768px) {
    .about-section .parallax__layer--fore {
      width: 42vw;
      right: 7em;
      top: 9em;
      left: initial; } }
  @media all and (min-width: 1024px) {
    .about-section .parallax__layer--fore {
      width: 43vw;
      right: 8em;
      top: 9em;
      left: initial; } }
  @media all and (min-width: 1240px) {
    .about-section .parallax__layer--fore {
      width: 45vw;
      right: 9em;
      top: 9em;
      left: initial; } }

.about-section .parallax__layer--perp {
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  width: 100vw;
  right: initial; }
  .about-section .parallax__layer--perp .content {
    top: 30%;
    width: 80%;
    text-align: left; }
    .about-section .parallax__layer--perp .content ul {
      list-style: none;
      padding-left: 0;
      line-height: 1.8em; }
  @media all and (min-width: 768px) {
    .about-section .parallax__layer--perp {
      background-color: transparent;
      left: 4em;
      width: 65vw;
      right: initial; }
      .about-section .parallax__layer--perp .content {
        width: 70%; } }
  @media all and (min-width: 1024px) {
    .about-section .parallax__layer--perp {
      left: 10em;
      width: 55vw;
      right: initial; } }
  @media all and (min-width: 1240px) {
    .about-section .parallax__layer--perp {
      left: 12em;
      width: 55vw;
      right: initial; } }

.about-section .image {
  text-align: center; }

.about-section img {
  width: 70%;
  border-radius: 100%; }

.contact {
  z-index: 5;
  background-color: #ff6961; }

.contact-form-wrapper {
  text-align: center; }
  .contact-form-wrapper .section-title {
    font-size: 3em; }
  @media all and (min-width: 768px) {
    .contact-form-wrapper {
      margin: 4em auto; } }

.contact-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap row;
  width: 100vw;
  margin: 3em auto;
  text-align: center; }
  .contact-form .group {
    flex-basis: 100%; }
    .contact-form .group input {
      background-color: #fff;
      color: #2e2f2f;
      height: 50px;
      width: 80%;
      margin-bottom: 2em;
      border: none;
      border-radius: 5px;
      padding: 15px;
      outline: none;
      text-align: center;
      font-size: 1.2em; }
      @media all and (min-width: 700px) {
        .contact-form .group input {
          width: 50%; } }
    .contact-form .group .textarea-item {
      background-color: #fff;
      height: 150px;
      color: #2e2f2f;
      width: 80%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      outline: none;
      text-align: center;
      font-size: 1.2em; }
      @media all and (min-width: 700px) {
        .contact-form .group .textarea-item {
          width: 50%; } }

button.submit-button {
  width: 250px;
  padding: 15px;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  margin-top: 2em;
  background-color: #afeeee;
  color: #ff6961;
  transition: all 0.5s ease; }
  button.submit-button:hover, button.submit-button:focus {
    transform: scale(1.3);
    cursor: pointer; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

#home {
  z-index: 5; }
  #home .parallax__layer--base {
    background: white; }
  #home .shock-value {
    color: #e3170a;
    margin-right: 5px; }
  #home .light-text {
    font-weight: 200;
    display: block;
    color: rgba(0, 0, 0, 0.2); }

.section-title {
  font-size: 2em;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 2px 0px #ff6961, 6px 4px 0 #afeeee; }
  @media all and (min-width: 1024px) {
    .section-title {
      font-size: 4em; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.description {
  z-index: 3; }
  .description .parallax__layer--base {
    background: transparent; }

.landscape-mode {
  display: none; }

.skills-section .content {
  width: 100%; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .landscape-mode {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("http://images.mentalfloss.com/sites/default/files/dazedandconfused.jpg?resize=1100x740") no-repeat center center;
    background-size: cover; }
    .landscape-mode h3 {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 15px; }
  .parallax {
    display: none; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .landscape-mode {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("http://images.mentalfloss.com/sites/default/files/dazedandconfused.jpg?resize=1100x740") no-repeat center center;
    background-size: cover; }
    .landscape-mode h3 {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      padding: 15px; }
  .parallax {
    display: none; } }

@media screen and (max-width: 321px) {
  .projects .parallax__group {
    background-color: rgba(46, 47, 47, 0.8); }
    .projects .parallax__group img {
      display: none; }
    .projects .parallax__group:nth-of-type(odd) .parallax__layer.parallax__layer--fore,
    .projects .parallax__group:nth-of-type(even) .parallax__layer.parallax__layer--fore {
      background-color: transparent; } }
